@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    text-decoration: none;
    transition: all .3 linear;
}

html{
    scroll-behavior: smooth;
}

body{
    background: url("https://i.pinimg.com/originals/85/60/83/856083200afa5b856a28ccc2f559a1a1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

:root{
    --maincolor: #22aad3;
}

header{
    width: 100%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 2.5rem 7%;
}

header .logo{
    font-size: 2rem;
    font-weight: bold;
    color: #555;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    margin-left: 2.5rem;
}

header nav ul li a{
    color: #333;
    font-size: 1.15rem;
}

header nav ul li a:hover{
    color: var(--maincolor);
    border-bottom: .2rem solid var(--maincolor);
    padding: .3rem 0;
}

#popular .content h2{
    padding: 1rem 0;
}

footer .copy h2{
    text-align: center;
    padding: 1.2rem 0rem;
    background: rgba(48, 48, 48, 0.1);
}

#popular h2{
    width: 80%;
    margin: auto;
}

#new-kursi h2{
    width: 80%;
    margin: auto;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.box-container .box {
    width: 250px;
    margin: 25px;
    padding: 10px;
    border: 1px solid #a1a1a1;
    text-align: center;
    background: rgb(196, 196, 196)
}

.box:hover{
    background: rgb(153, 152, 152)
}

.box img {
    max-width: 100%;
    height: 75%;
    display: block;
    margin-bottom: 10px;
  }

  .box h2 {
    margin: 0;
  }

#reasons .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

#reasons .container .box{
    width: 16rem;
    margin: 25px;
    padding: 10px;
    border: 1px solid #a1a1a1;
    text-align: center;
    background: rgb(196, 196, 196)
}

#apply{
    width: 80%;
    margin: auto;
    text-align: center;
}

/* Modal */

.modal{
    position: fixed;
    background: rgba(0, 0, 0, .5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.modalActive{
    display: flex;
}

.modal .apply{
    background: #ddd;
    width: 50rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem #666;
    padding: 2rem;
    position: relative;
}

.apply .close_modal{
    position: absolute;
    right: 2rem;
    background: var(--maincolor);
    color: #fff;
    padding: .5rem;
    font-size: 0.7rem;
    border-radius: .5rem;
    cursor: pointer;
}

.apply .close_modal:hover{
    background: #666;
}