@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: 0;
    text-decoration: none;
    transition: all .3 linear;
}

html{
    scroll-behavior: smooth;
}

body{
    background: url("https://i.pinimg.com/originals/85/60/83/856083200afa5b856a28ccc2f559a1a1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

:root{
    --maincolor: #22aad3;
}

header{
    width: 100%;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 2.5rem 7%;
}

header .logo{
    font-size: 2rem;
    font-weight: bold;
    color: #555;
}

header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header nav ul li{
    margin-left: 2.5rem;
}

header nav ul li a{
    color: #333;
    font-size: 1.15rem;
}

header nav ul li a:hover{
    color: var(--maincolor);
    border-bottom: .2rem solid var(--maincolor);
    padding: .3rem 0;
}

#popular .content h2{
    padding: 1rem 0;
}

footer .copy h2{
    text-align: center;
    padding: 1.2rem 0rem;
    background: rgba(102, 102, 102, .1);
}